<!DOCTYPE html>
<html>
<head>
  <title><%= full_title (yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
<!--_____________________________Шапка_________________________________________-->

<div class="row as-header-margin">
  <header class="navbar navbar-fixed-top as-header-row">
    <div class="navbar-inner">
      <div class="container">
        <div class="row">
          <div class="col-sm-4 as-header-logo visible-lg visible-md">
            <ul class="nav nav-pills as-header-links">
              <li><%= link_to "Nikamotorz", '#', id: "logo" %></li>
            </ul>
          </div>

          <div class="col-sm-8 as-header-logo">
            <ul class="nav nav-pills pull-right as-header-links">
              <li class="active"><%= link_to "Home",    '#' %></li>
              <li><%= link_to "Help",    '#' %></li>
              <li><%= link_to "Sign in", '#' %></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </header>
</div>
<!--_______________________________Оповещения______________________________-->
<div class="container">
  <div class="alert alert-info">
    <p>Магазин в разработке!</p>
  </div>

  <div class="alert alert-info visible-xs">
    <p>Мобильная версия сайта</p>
  </div>
</div>
<!--_______________________________Содержимое страницы______________________-->
<div class="container">
  <%= yield %>
</div>    

</body>
</html>
